extends layout

block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3 Tarefa recebida
            .w3-container
                table.w3-table-all
                    tr
                        th Data de registo
                        td= tarefa.reg
                    tr
                        th Prazo
                        td= tarefa.prazo
                    tr
                        th Descrição
                        td= tarefa.desc
                    tr
                        th Importância
                        td= tarefa.imp
                    tr
                        th Tipo
                        td= tarefa.tipo
            footer.w3-container.w3-teal
                address Gerado por FormApp: 
                    a(href='/') Voltar à página principal